{
  "extends": "sexy",
  "rules": {
    "no-shadow": ["off"],
    "arrow-body-style": ["off"],
    "no-param-reassign": ["off"],
    "guard-for-in": ["off"],
    "comma-dangle": ["off"],
    "padded-blocks": ["off"],
    "prefer-const": ["off"],
    "import/prefer-default-export": ["off"]
  }
}
